#include "comet.inc"
DLG_INIT DIALOG PRELOAD MOVEABLE DISCARDABLE 14, 11, 144, 24
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
	CONTROL "Initializing ... Please wait", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 8, 101, 8
	ICON 1, -1, 12, 4, 16, 16
END
DLG_BTNBAR DIALOG PRELOAD MOVEABLE DISCARDABLE 0, 0, 999, 11
STYLE WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN | WS_BORDER
CLASS "SpiffBtnBar"
FONT 8, "System"
BEGIN
	PUSHBUTTON "&1", 101, 0, 0, 16, 12
	PUSHBUTTON "&2", 102, 16, 0, 16, 12
	PUSHBUTTON "&3", 103, 32, 0, 16, 12
	PUSHBUTTON "&4", 104, 48, 0, 16, 12
	PUSHBUTTON "S&TART", 110, 66, 0, 32, 12
	PUSHBUTTON "P&layers", 111, 98, 0, 32, 12
	PUSHBUTTON "&Game", 112, 130, 0, 32, 12
	PUSHBUTTON "&PAUSE", 113, 162, 0, 32, 12
	PUSHBUTTON "&SOUND", 114, 194, 0, 32, 12
	PUSHBUTTON "&MUSIC", 115, 226, 0, 32, 12
	PUSHBUTTON "&Help", 116, 258, 0, 32, 12
	PUSHBUTTON "&About", id_AboutBtn, 290, 0, 32, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
DLG_GAME DIALOG 162, 12, 134, 200
STYLE WS_POPUP | WS_BORDER
FONT 8, "HELV"
BEGIN
	CONTROL "Difficulty", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 0, 76, 53
	CONTROL "&Simple", 101, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 13, 58, 12
	CONTROL "&Challenging", 102, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 25, 58, 12
	CONTROL "&Impossible", 103, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 37, 58, 12
	CONTROL "&Fragmented explosions", 105, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 57, 94, 12
	CONTROL "&Pause when inactive", 106, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 69, 94, 12
	CONTROL "Deadly &bullets", ID_DEADLY, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 81, 94, 12
	CONTROL "Tournament &Mode", ID_TOURNAMENT, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 93, 94, 12
	CONTROL "Fu&ll screen play", ID_FULLSCREEN, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 117, 94, 12
	CONTROL "Remote Play", 107, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 133, 122, 64
	PUSHBUTTON "&Dial...", ID_DIAL, 11, 146, 49, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Answer...", ID_ANSWER, 11, 163, 49, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Hang up", ID_DISCONNECT, 73, 146, 49, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "S&etup...", ID_REMOTESETUP, 73, 163, 49, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	RTEXT "Remote &update interval:", -1, 13, 183, 89, 8
	EDITTEXT ID_UPDINTERVAL, 105, 181, 17, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "Ok", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 85, 4, 45, 14
	PUSHBUTTON "Cancel", 2, 85, 21, 45, 14
	PUSHBUTTON "Help", ID_BTNHELP, 85, 38, 45, 14
	CONTROL "No rocks", ID_FIRSTTOURROCKS, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 13, 105, 39, 12
	CONTROL "Bounce", ID_FIRSTTOURROCKS+1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 55, 105, 34, 12
	CONTROL "Destroy", ID_FIRSTTOURROCKS+2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 91, 105, 35, 12
END

DLG_PLAYERS DIALOG 122, 12, 236, 155
STYLE WS_POPUP | WS_BORDER
FONT 8, "HELV"
BEGIN
	LTEXT "Pla&yers", -1, 10, 6, 54, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 101, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 9, 16, 64, 57
	CONTROL "Special ability", 102, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 71, 76, 80
	CONTROL "&None", ID_BNABILITYFIRST, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 83, 65, 12
	CONTROL "&Hyperspace", ID_BNABILITYFIRST +1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 96, 65, 12
	CONTROL "&Shields", ID_BNABILITYFIRST +2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 109, 65, 12
	CONTROL "&Disruptor", ID_BNABILITYFIRST +3, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 122, 65, 12
	CONTROL "C&loak", ID_BNABILITYFIRST +4, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 135, 65, 12
	CONTROL "Control", 108, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 93, 71, 68, 80
	CONTROL "&Keyboard", 109, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 99, 85, 56, 12
	PUSHBUTTON "Setu&p...", 112, 101, 126, 44, 14
	CONTROL "&Joystick", 110, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 99, 102, 56, 12
	LTEXT "&Bullet speed:", -1, 82, 6, 67, 8
	SCROLLBAR 113, 154, 5, 74, 10, SBS_HORZ | WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "&Thrust:", -1, 82, 19, 67, 8
	SCROLLBAR 114, 154, 18, 74, 10, SBS_HORZ | WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "M&aximum speed:", -1, 82, 32, 67, 8
	SCROLLBAR 115, 154, 31, 74, 10, SBS_HORZ | WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "&Rotation speed:", -1, 82, 45, 67, 8
	SCROLLBAR 116, 154, 44, 74, 10, SBS_HORZ | WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Spe&cial ability:", -1, 82, 58, 67, 8
	SCROLLBAR 117, 154, 57, 74, 10, SBS_HORZ | WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "R&eset", 130, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 181, 75, 47, 14
	CONTROL "Ok", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 182, 104, 45, 14
	PUSHBUTTON "Cancel", 2, 182, 120, 45, 14
	PUSHBUTTON "Help", ID_BTNHELP, 182, 136, 45, 14
END

DLG_KEYS DIALOG 10, 23, 203, 94
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Player %u - Key Selection"
FONT 8, "HELV"
BEGIN
	RTEXT "Rotate &left:", -1, 7, 10, 72, 8
	CONTROL "", 101, "COMBOBOX", CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 84, 8, 59, 58
	RTEXT "Rotate &right:", -1, 7, 27, 72, 8
	CONTROL "", 102, "COMBOBOX", CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 84, 25, 59, 58
	RTEXT "&Thrust:", -1, 7, 43, 72, 8
	CONTROL "", 103, "COMBOBOX", CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 84, 41, 59, 58
	RTEXT "&Fire:", -1, 7, 59, 72, 8
	CONTROL "", 105, "COMBOBOX", CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 84, 57, 59, 58
	RTEXT "&Special ability:", -1, 7, 75, 72, 8
	CONTROL "", 106, "COMBOBOX", CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 84, 73, 59, 58
	CONTROL "Ok", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 151, 53, 43, 14
	PUSHBUTTON "Cancel", 2, 151, 72, 43, 14
END
DLG_JOYSTICK DIALOG 27, 101, 197, 51
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Player %d - Setup Joystick"
FONT 8, "HELV"
BEGIN
	DEFPUSHBUTTON "Ok", 1, 44, 32, 41, 14
	PUSHBUTTON "Cancel", 2, 112, 32, 41, 14
	CTEXT "Please center your joystick and press <Enter>", -1, 0, 13, 197, 8
END

STRINGTABLE 
BEGIN
	STR_ONECOPY, "Only one copy of Comet Busters at a time!"
	STR_NOINITAPP, "Could not initialize application."
	STR_NOINITINST, "Could not initialize instance."
	STR_NOLOADDLL, "Could not load resource libraries."
	STR_NOMEMSHAPES, "Could not load shapes. Probably not enough memory."
	STR_NOMEMSOUNDS, "Could not load sounds. Probably not enough memory."
	STR_NOTIMERSLEFT, "Could not initialize timer."
	STR_REGINVALID, "Your registration information is invalid. Try reinstalling the program."
	STR_NORESOURCES, "Your system resources are too low to play this game. Quit other applications, then try again."
END


STRINGTABLE PRELOAD MOVEABLE DISCARDABLE 
BEGIN
	STR_LEVEL, "LEVEL %i"
	STR_GAMEOVER, "GAME OVER"
	STR_GAMETITLE, "COMET BUSTERS!"
	STR_COPYRIGHT, "Copyright \251 1994, 1996"
	STR_ALLRIGHTS, "All rights reserved."
        STR_CREDIT, "Created by Steven E. Hugg"
	STR_REGTO, "Registered to: %s"
	STR_TOURLEVEL, "ROUND %i of %i"
END

STRINGTABLE 
BEGIN
	STR_CONGRATS, "CONGRATULATIONS!"
	STR_RANK, "You have earned a ranking"
	STR_RANK +1, "in the List of Immortals."
	STR_GOTHIGH, "YOU GOT THE HIGH SCORE!"
	STR_PLEASEENTER, "Please enter your initials:"
	STR_MAINWNDTITLE, "Comet Busters!"
	STR_SCORESTITLE, "IMMORTALS"
	STR_INVALIDKEYNAME, "One of the key names was not recognized."
	STR_PLAYERX, "Player %u"
	STR_NOJOYSTICK, "The joystick is not plugged in."
	STR_WINNER, "%s wins round %u."
	STR_TIED, "Round %u was a draw."
	STR_GAMEWINNER, "%s WINS THE GAME!"
	STR_TIEBREAKER, "TIEBREAKER #%u"
	STR_QSTOPTHEGAME, "You must end the current game to get out of full-screen mode."
END

STRINGTABLE PRELOAD MOVEABLE DISCARDABLE 
BEGIN
	STR_PAUSE, "&Pause"
	STR_PAUSE+1, "&Continue"
	STR_SOUND, "&Sound"
	STR_SOUND+1, "(&sound)"
	STR_START, "S&tart"
	STR_START+1, "S&top"
	STR_MUSIC, "&Music"
END


STRINGTABLE PRELOAD MOVEABLE DISCARDABLE 
BEGIN
	STR_MUSIC+1, "(&music)"
END


STRINGTABLE 
BEGIN
	2000, "is User Supported Shareware."
	2001, "If you think that this is absolutely"
	2002, "the best Windows game ever"
	2003, "created, then you should register."
	2007, "Click 'Help' now to register!"
	2008, "Please register this game;"
	2009, "my goldfish needs a liver transplant."
	2010, "Two quality games for nine bucks!"
	2011, "Think of all the quarters you'll save at the arcade!"
	2012, "Support recycling"
	2013, "Register rip-offs of famous arcade games"
        2014, "Check out our web page at"
        2015, "http://www.cometbusters.com/"
END


STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE 
BEGIN
	2016, "If you register this game"
	2017, "I'll be your best friend."
	2018, "Two games + source code: $9.00"
	2019, "Limited time only"
	2020, "Throw your money away to the IRS... or invest in"
	2021, "good homegrown American video games!"
END


1 ICON LOADONCALL MOVEABLE DISCARDABLE 
BEGIN
	'00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
	'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
	'00 00 01 00 04 00 00 00 00 00 00 02 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
	'00 00 80 00 80 00 80 80 00 00 80 80 80 01 C0 C0'
	'C0 01 00 00 FF 00 00 FF 00 01 00 FF FF 01 FF 00'
	'00 00 FF 00 FF 00 FF FF 00 01 FF FF FF 01 00 00'
	'00 00 99 99 99 99 99 99 99 99 99 99 90 00 00 00'
	'00 09 99 B9 99 B9 99 B9 99 B9 99 B9 99 00 00 00'
	'00 00 9B 9B 93 93 9B 9B 99 99 B9 99 99 90 00 04'
	'00 00 09 B9 33 33 99 99 9B 9B 9B 99 00 00 00 0E'
	'70 00 09 99 33 33 39 B9 B9 39 39 90 00 00 00 0E'
	'87 77 4F B9 3F F3 39 99 93 33 33 90 00 00 00 0E'
	'88 88 FF F9 3F F3 99 99 33 FF 39 00 00 00 00 0E'
	'E8 88 FF F9 93 33 3F F9 93 FF 39 00 00 00 00 00'
	'E8 87 7F F3 93 93 9F F9 33 33 99 77 00 00 00 00'
	'E0 87 7F F8 39 39 FF F9 99 39 9F F7 70 00 00 00'
	'E0 07 77 7F 88 8F FF F8 93 99 FF FF 74 00 00 00'
	'E0 00 77 7F 07 7F FF F8 99 98 FF FF 87 70 00 02'
	'A2 00 07 7F 07 77 77 7F 88 8F FF F8 88 8E 00 02'
	'A2 00 07 77 0F F0 07 77 7F 0F 88 88 8E E0 00 02'
	'A2 00 00 77 70 FF 00 07 F0 77 77 88 E0 00 00 00'
	'2A 00 00 07 77 00 00 77 77 70 00 EE 00 00 00 00'
	'2A 00 00 00 07 77 77 70 00 00 2E 20 00 00 00 00'
	'0A 0D 00 00 00 00 00 00 00 22 22 00 00 00 00 DD'
	'0A 00 D0 0D D0 00 00 00 22 A2 00 00 00 00 00 00'
	'0A 00 00 00 00 00 00 02 A2 20 00 00 00 00 00 0F'
	'FA 05 00 50 DD D0 00 2A 20 00 00 00 00 00 00 FF'
	'8F 25 55 50 00 00 2A A2 00 00 00 00 00 00 00 FF'
	'87 2D B5 55 50 02 22 00 00 00 00 00 00 00 00 F8'
	'77 2B DB 55 50 22 00 00 00 00 00 00 00 00 00 F7'
	'78 8B BD BD 22 00 DD 00 00 00 00 00 00 00 00 FF'
	'88 7B B8 02 00 00 00 00 00 00 00 00 00 00 00 00'
	'88 88 77 87 00 00 00 00 00 00 00 00 00 00 00 00'
	'F8 78 77 07 00 00 00 00 00 00 00 00 00 00 00 00'
	'08 80 07 70 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 08 70 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 FF 00'
	'00 07 FE 00 00 03 FF 00 00 01 EF 80 00 0F E7 80'
	'00 1F E0 00 00 1F E0 00 00 3F E0 00 00 3F F0 00'
	'00 0F F4 00 00 07 F6 00 00 03 F7 00 00 01 E3 80'
	'00 00 E3 80 00 01 E3 C0 00 07 F3 E0 01 CF F3 F8'
	'1F 1F FA FF FC 3F CB 67 F0 FF FB FF E1 FF E2 D1'
	'C7 FF C0 1F 0F FF C0 06 3F FF C0 04 FF FF C0 03'
	'3F FF C0 29 FF FF F0 01 FF FF F0 03 FF FF F8 07'
	'FF FF FE 47 FF FF FF FF FF FF FF FF FF FF'
END

DLG_REMOTESETUP DIALOG 7, 18, 142, 176
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Remote Setup"
FONT 8, "HELV"
BEGIN
	GROUPBOX "C&OM port", -1, 5, 1, 44, 64, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "COM&1", ID_COM1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 11, 39, 12
	CONTROL "COM&2", ID_COM1 +1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 9, 23, 39, 12
	CONTROL "COM&3", ID_COM1 +2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 9, 35, 39, 12
	CONTROL "COM&4", ID_COMLAST, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 9, 47, 39, 12
	LTEXT "&Init string", -1, 57, 7, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", ID_INITSTRING, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 57, 17, 75, 12
	LTEXT "&Dial string", -1, 57, 34, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", ID_DIALSTRING, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 57, 44, 75, 12
	LTEXT "&Remote machine name", -1, 6, 69, 125, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT ID_REMOTEMACHINE, 6, 79, 126, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT "IP &port number", -1, 6, 93, 73, 8
	EDITTEXT ID_IPPORT, 6, 103, 46, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	GROUPBOX "&Connection", -1, 6, 119, 59, 54, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "&Modem", ID_MODEM, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 130, 46, 12
	CONTROL "Direc&t", ID_DIRECT, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 11, 143, 46, 12
	CONTROL "&Network", ID_NETWORK, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 11, 156, 46, 12
	CONTROL "Ok", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 92, 123, 45, 14
	PUSHBUTTON "Cancel", 2, 92, 140, 45, 14
	PUSHBUTTON "&Help", ID_BTNHELP, 92, 157, 45, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
STRINGTABLE 
BEGIN
	STR_NOINITPORT, "Could not initialize serial port."
	STR_NOINITMODEM, "Could not initialize modem."
	STR_NOCARRIER, "No answer from remote!"
	STR_INITMODEM, "Initializing..."
	STR_DIALMODEM, "Dialing ""%s""..."
	STR_WAITANSWER, "Listening for remote..."
	STR_WAITRING, "Waiting for ring..."
	STR_CONNECTED, "Successfully connected!"
	STR_WAITCONNECT, "Waiting for connection..."
	STR_2MANYPLAYERS, "You and the remote machine have more than four players between you. Reduce the number of players and try again."
	STR_VERSIONMISMATCH, "The remote machine has an incompatible version of the game."
	STR_INFOERROR, "Error in connection!"
	STR_DISCONNECTING, "Disconnecting..."
	STR_REMOTEBYE, "Remote disconnected!"
	STR_OUTOFSYNC, "Connection is out of sync!"
END
DLG_WAIT DIALOG 18, 18, 118, 55
STYLE WS_POPUP | WS_DLGFRAME
FONT 8, "HELV"
BEGIN
	CTEXT "", 101, 0, 11, 118, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	DEFPUSHBUTTON "Cancel", 2, 38, 31, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

STRINGTABLE 
BEGIN
	10000, "No Error"
	10004, "Interrupted system call"
	10009, "Bad file number"
	10013, "Permission denied"
	10014, "Bad address"
END


STRINGTABLE 
BEGIN
	10022, "Invalid argument"
	10024, "Too many open files"
END


STRINGTABLE 
BEGIN
	10035, "Operation would block"
	10036, "Operation now in progress"
	10037, "Operation already in progress"
	10038, "Socket operation on non-socket"
	10039, "Destination address required"
	10040, "Message too long"
	10041, "Protocol wrong type for socket"
	10042, "Bad protocol option"
	10043, "Protocol not supported"
	10044, "Socket type not supported"
	10045, "Operation not supported on socket"
	10046, "Protocol family not supported"
	10047, "Address family not supported by protocol family"
END


STRINGTABLE 
BEGIN
	10048, "Address already in use"
	10049, "Can't assign requested address"
	10050, "Network is down"
	10051, "Network is unreachable"
	10052, "Net dropped connection or reset"
	10053, "Software caused connection abort"
	10054, "Connection reset by peer"
	10055, "No buffer space available"
	10056, "Socket is already connected"
	10057, "Socket is not connected"
	10058, "Can't send after socket shutdown"
	10059, "Too many references, can't splice"
	10060, "Connection timed out"
	10061, "Connection refused"
	10062, "Too many levels of symbolic links"
	10063, "File name too long"
END


STRINGTABLE 
BEGIN
	10064, "Host is down"
	10065, "No Route to Host"
	10066, "Directory not empty"
	10067, "Too many processes"
	10068, "Too many users"
	10069, "Disc Quota Exceeded"
	10070, "Stale NFS file handle"
	10071, "Too many levels of remote in path"
END


STRINGTABLE 
BEGIN
	10091, "Network SubSystem is unavailable"
	10092, "WINSOCK DLL Version out of range"
	10093, "Successful WSASTARTUP not yet performed"
END


STRINGTABLE 
BEGIN
	11001, "Host not found"
	11002, "Non-Authoritative Host not found"
	11003, "Non-Recoverable errors: FORMERR, REFUSED, NOTIMP"
	11004, "Valid name, no data record of requested type"
END

DLG_SCRNSAVE DIALOG 10, 17, 134, 106
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Screen Saver Settings"
FONT 8, "HELV"
BEGIN
	CONTROL "Craziness", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 1, 76, 53
	CONTROL "&Tame", ID_DIFF1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 13, 58, 12
	CONTROL "&Exciting", ID_DIFF2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 25, 58, 12
	CONTROL "&Wacky", ID_DIFF3, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 37, 58, 12
	CONTROL "S&tars in background", 104, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 56, 94, 12
	CONTROL "&Fragmented explosions", 105, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 68, 94, 12
	CONTROL "&Sound", ID_SOUND, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 80, 94, 12
	CONTROL "&Music", ID_MUSIC, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 92, 94, 12
	CONTROL "Ok", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 85, 4, 45, 14
	PUSHBUTTON "Cancel", 2, 85, 21, 45, 14
END
#include "commerr.rc"
