#include "comet.inc"


DLG_KEYBOARD DIALOG 7, 19, 354, 88
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_POPUP | WS_CAPTION
FONT 8, "HELV"
BEGIN
	CONTROL "", 41, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 6, 15, 15
	CONTROL "", 2, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 21, 6, 15, 15
	CONTROL "", 3, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 6, 15, 15
	CONTROL "", 4, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 6, 15, 15
	CONTROL "", 5, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 66, 6, 15, 15
	CONTROL "", 6, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 81, 6, 15, 15
	CONTROL "", 7, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 6, 15, 15
	CONTROL "", 8, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 111, 6, 15, 15
	CONTROL "", 9, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 126, 6, 15, 15
	CONTROL "", 10, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 141, 6, 15, 15
	CONTROL "", 11, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 6, 15, 15
	CONTROL "", 12, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 171, 6, 15, 15
	CONTROL "", 13, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 186, 6, 15, 15
	CONTROL "", 14, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 201, 6, 30, 15
	CONTROL "", 16, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 30, 21, 15, 15
	CONTROL "", 17, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 45, 21, 15, 15
	CONTROL "", 18, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 21, 15, 15
	CONTROL "", 19, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 75, 21, 15, 15
	CONTROL "", 20, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 21, 15, 15
	CONTROL "", 21, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 21, 15, 15
	CONTROL "", 22, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 21, 15, 15
	CONTROL "", 23, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 21, 15, 15
	CONTROL "", 24, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 21, 15, 15
	CONTROL "", 25, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 21, 15, 15
	CONTROL "", 26, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 21, 15, 15
	CONTROL "", 27, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 21, 15, 15
	CONTROL "", 43, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 210, 21, 21, 15
	CONTROL "", 15, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 21, 24, 15
	CONTROL "", 58, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 36, 28, 15
	CONTROL "", 30, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 36, 15, 15
	CONTROL "", 31, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 49, 36, 15, 15
	CONTROL "", 32, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 64, 36, 15, 15
	CONTROL "", 33, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 36, 15, 15
	CONTROL "", 34, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 36, 15, 15
	CONTROL "", 35, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 109, 36, 15, 15
	CONTROL "", 36, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 36, 15, 15
	CONTROL "", 37, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 36, 15, 15
	CONTROL "", 38, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 36, 15, 15
	CONTROL "", 39, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 169, 36, 15, 15
	CONTROL "", 40, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 36, 15, 15
	CONTROL "", 28, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 199, 36, 32, 15
	CONTROL "", 44, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 51, 15, 15
	CONTROL "", 45, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 59, 51, 15, 15
	CONTROL "", 46, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 51, 15, 15
	CONTROL "", 47, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 89, 51, 15, 15
	CONTROL "", 48, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 51, 15, 15
	CONTROL "", 49, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 119, 51, 15, 15
	CONTROL "", 50, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 134, 51, 15, 15
	CONTROL "", 51, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 149, 51, 15, 15
	CONTROL "", 52, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 51, 15, 15
	CONTROL "", 53, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 51, 15, 15
	CONTROL "", 54, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 51, 37, 15
	CONTROL "", 42, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 51, 38, 15
	CONTROL "", 29, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 66, 24, 15
	CONTROL "", 285, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 207, 66, 24, 15
	CONTROL "", 56, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 49, 66, 24, 15
	CONTROL "", 312, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 66, 24, 15
	CONTROL "", 57, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 73, 66, 101, 15
	CONTROL "", 338, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 238, 6, 15, 15
	CONTROL "", 339, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 238, 21, 15, 15
	CONTROL "", 327, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 253, 6, 15, 15
	CONTROL "", 335, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 253, 21, 15, 15
	CONTROL "", 329, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 268, 6, 15, 15
	CONTROL "", 337, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 268, 21, 15, 15
	CONTROL "", 331, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 238, 66, 15, 15
	CONTROL "", 328, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 253, 51, 15, 15
	CONTROL "", 336, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 253, 66, 15, 15
	CONTROL "", 333, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 268, 66, 15, 15
	CONTROL "", 325, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 289, 6, 15, 15
	CONTROL "", 71, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 289, 21, 15, 15
	CONTROL "", 75, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 289, 36, 15, 15
	CONTROL "", 79, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 289, 51, 15, 15
	CONTROL "", 82, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 289, 66, 30, 15
	CONTROL "", 309, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 304, 6, 15, 15
	CONTROL "", 72, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 304, 21, 15, 15
	CONTROL "", 76, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 304, 36, 15, 15
	CONTROL "", 80, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 304, 51, 15, 15
	CONTROL "", 55, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 319, 6, 15, 15
	CONTROL "", 73, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 319, 21, 15, 15
	CONTROL "", 77, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 319, 36, 15, 15
	CONTROL "", 81, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 319, 51, 15, 15
	CONTROL "", 83, "KbdButton", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 319, 66, 15, 15
	CONTROL "", 74, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 334, 6, 15, 15
	CONTROL "", 78, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 334, 21, 15, 30
	CONTROL "", 284, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 334, 51, 15, 30
	CONTROL "/", 43, "KbdButton", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 66, 15, 15
END

STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
	9999, "Could not load language library."
END



DLG_ABOUT DIALOG 21, 39, 152, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "Helv"
BEGIN
        PUSHBUTTON "&Ok", 1, 59, 70, 34, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CTEXT "Comet Busters!", -1, 0, 10, 152, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "(version)", id_AboutVersion, 0, 21, 152, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "Copyright (c) 1994, 1996 HAMCO Software", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 34, 152, 8
        CONTROL "Published by Xtreme Games LLC", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 50, 152, 8
END


1 ICON "comet.ico"

